html
    head
        title web2 security
        style(type="text/css").
            body {
            text-align: center;
            }
    body
        h1 2. projekt - sigurnost
        br
        br
        p Upute:
        p Klikom na link provjerite navedenu vrstu ranjivosti
        a(href="/xss") Xss - pohranjeni
        br
        br
        a(href="/brokenAuth") Broken Authentication
